/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.ideal
.phpstorm.meta.php
_ide_helper.php
/.idea
/public/php.ini
/public/php_errorlog
/error_log
/new.esharti.net
/public/storage
/Apple.zip
.wp-cli
/.wp-cli
/Apple
.Apple
.storage
/storage
/public
/public.zip

